<!DOCTYPE html>

</head>
<body>
   <h1>Welcome to the RESTful API of Recipe Data</h1>
   <div>

      <p>In order to use the site, start at http://localhost:3000/recipes</p>

   </div>
</body>
</html>
